extends layout

block content
  .container
    h1= title
    .download
      p Get to the Moon Base!
      form(id="sms")
        input(type="text", name="phone", autofocus)
        button(type="submit") Send
    .preview
      img(src="http://placekitten.com/g/300/400")
