extends layout

block content
  h1= title
  .download
    p Get to the Moon Base!
    form(action="/sms", method="post")
      input(type="text", name="phone", autofocus)
      button(type="submit") Send

