extends layout

block content
  .container
    h1= title
    .download
      p Get to the Moon Base!
      a(href="#", class="dl-btn", id="download-apple")
        img(src="/images/download-apple.png")
      a(href="#", class="dl-btn", id="download-android")
        img(src="/images/download-android.png")
      p We'll text you the download link
      #message
      form(id="sms")
        input(type="text", name="phone", placeholder="Phone Number", autofocus)
        button(type="submit") SMS Me The Link!
    .preview
      .iphone
        .demo
          img(src="http://placekitten.com/g/243/432")
